@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, li, p, ul {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  font-weight: 600;
}
